# Run all tests

name: Run tests (Linux)

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2'
        use-public-rspm: true

    - name: Install R test dependencies
      run: |
        Rscript -e "install.packages('glmnet', repos='http://cloud.r-project.org')"
        pip install .[test]
        pip install .[dev]
	pip install .

    - name: Test coxdev
      run: |
        pytest tests --test-size=100
