# Run all tests

name: Run tests (Linux)

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs: null

jobs:

  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: '3.12'

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2'
        use-public-rspm: true

    - name: Install R packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: glmnet

    - name: Install Python dependencies
      run: |
        pip install .[test]
        pip install .

    - name: Test pyglmnet
      run: |
        pytest tests --test-size=100
