# Run all tests

name: Run tests (Linux)

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install coxdev
      run: |
        pip install meson-python ninja meson pybind11 setuptools_scm
        pip install ".[test]" 

    - name: Debug Installation
      run: |
        python -c "import coxdev; print(f'Location: {coxdev.__file__}'); import os; print(f'Contents: {os.listdir(os.path.dirname(coxdev.__file__))}')"

    - name: Test coxdev
      run: |
        mkdir empty_dir
        cd empty_dir
        python -m pytest ../tests --test-size=100
